{# app/Resources/views/Emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.

<p>Your  Login : <bold>{{ user.login }}</bold></p>
<p>Your  Password : <bold>{{ user.password }}</bold></p>

{# example, assuming you have a route named "login" #}
To login, go to: <a href="http://localhost:8888/SIKA/sika_dash/web/app_dev.php/api/scan/">SIKA DASHBOARD</a>